body {
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 75%;
}

.form-container {
    text-align: center;
    margin: 2 rem auto;
}

.movie-data-list {
    list-style: none;
    line-height: 2rem;
}

span {
    font-weight: bold;
}

img {
    width: 250px;
    border-radius: 5px;
}

form {
    width: 75%; 
    margin: 0 auto;
}

.result-container {
    text-align: center;
}

.chat-container {
    position: absolute;
    bottom: 0;
    right: 0;
}